
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color:#B4B2C8;
    font-family: "Montserrat", sans-serif;
}
nav ul li {
 list-style: none;
 color:#1C2C37;
 text-align: center;
}
nav {

background-color:rgba(255, 248, 248, 65%);
border-radius: 10px;
width:86%;
height:50px;
margin-left:7%;
margin-top:1%;

}
nav ul li a {
font-size: 13px;
text-decoration: none;
color:#1C2C37; 

} 
nav  ul{
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight:normal;
    padding: 0 4%;
}
#menu-hamburger {
  display: none;
}
.exit-menu {
  display: none;
  position: absolute;
  top: 3%;
  left: 3%;
}
.exit-menu ion-icon {
  font-size: 30px;
}
.menu-hamburger {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 35%;
  justify-content:center;
  align-items: center;

}
 .langue-principale {
  position: relative;
  height: 100%;
  width:75px;
  display: flex;
  align-items: center;
  gap: 5px; 
}
ion-icon {
font-size: 13px;
}

 .sous-menu {
   display: none;
  list-style: none;
  position: absolute;
} 
.sous-menu li {
  background-color:#f8f8f8;
}
nav ul .sous-menu-active {
  display: block;
  width: 50px;
}
.sous-menu-active li:hover {
  background-color: rgba(0,0,0, 0.2);
}
nav ul li #logo {
  height: 35px;
  width: 35px;
}
nav ul li #drapeau {
  height: 12px;
  width: 15px;

}


main {
  color: white;

}
.effet-blur {
  width:30%;
  height:295px;
  background-color:#FF5454;
  border-radius:70%;
  filter: blur(110px);
  position:absolute;
  left:-12%;
  top:14%;
  }
  main #actual-page {
    margin-top: 1%;
    font-size: 14px;
    margin-left: 7%;
  }
.container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2%;
  margin-top: 1%;
  margin-left: 10%;
  
} 
.form-background {
  background-color: rgba( 217,217,217,60%); 
  width: 40%; 
  height:430px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  border-radius:10px;
 
}
form {
  width:90%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
h4 {
  margin-top: 5%;
  text-align: center;
  font-size: 1.4em;
  padding: 5%;
}

.allignement {
display: flex; 
justify-content: space-between;
gap:20px;
}
.allignement div {
display: flex;
flex-direction: column;
width:100%;
padding-bottom:20px;
}
.submit-button {
  text-align: center;
  padding-bottom:50px;
}
input, main select {
  border: transparent;
  background-color:#D9D9D9;
  width: 100%;
  height:25px;
  border-radius:5px;
  padding-left: 2%;
  outline:transparent;
  
}
label {
  font-size:0.7em;
  font-weight:500;
  margin-bottom: 3%;
}
main select {
  color : #483948;
}
.submit-button input  {
  font-size:0.8em;
  background-color:#46ACCE;
  color: white;
  height:35px;
  width:50%;
  border-radius:100px;

}


#langue-select {
  border: none;
  height:30px;
  background-color:transparent;
  outline: none;
  
}

footer p {
  text-align: center;
}
@media screen and (max-width:950px) {
  #menu-hamburger  {
    display: block;
    
  }
  #menu-hamburger ion-icon {
    font-size: 30px;
  }
  .menu-hamburger {
    display: none;
   flex-direction: column;
   position: absolute;
   top: 0;
   left: 0;
   gap:20%;
   width: 100%;
   height: 100vh;
   background-color: rgba(255, 248, 248);
  }
  .langue-principale {
    display: none;
    
  }
  .langue-principale-active {
    display: flex;
    position:absolute;
    left:80%;
  }
  .menu-hamburger-active {
   display: flex;
   overflow-y:auto;
  }
  .exit-menu-active {
    display:block;
  }
  .container {
    flex-direction: column;
  }
  .form-background {
    width: 80%;
  }
  .no-scroll {
    overflow: hidden; 
    height: 100%; 
}
}
@media screen and (max-width:450px ) {
  .form-background {
    width: 100%;
  }
  h4 {
    font-size: 1.2em;
    margin-top: 10%;
  }
}