

body {
    background-color:#B4B2C8;
    font-family: "Montserrat", sans-serif;
}
nav ul li {
list-style: none;
 color:#1C2C37;
 text-align: center;


}
nav {

background-color:rgba(255, 248, 248, 65%);
border-radius: 10px;
width:80%;
height:60px;
margin-left:10%;
margin-top:3%;

}
nav ul li a {

text-decoration: none;
color:#1C2C37; 

} 
nav ul {
    display: flex;
    justify-content:start;
    padding-top:22px;
    gap:14%;
    font-family: "Inter", sans-serif;
    font-weight:normal;

}
.langue-principale {
  width:50px;
}
.sous-menu li:hover {
background-color:gainsboro;
}
nav ul .sous-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
  width:50px;
  gap: 3px;
  border-radius:3px;
}


nav ul li:hover  .sous-menu {
  display: block;
}
nav ul li #logo {
  position: relative;
  bottom: 14px;
  height: 45px;
  width: 45px;

}
nav ul li #drapeau {
  height: 12px;
  width: 15px;

}

main {
  color: white;
  margin-left: 10%;
}
.effet-blur {
width:504px;
height:295px;
background-color:#FF5454;
border-radius:70%;
filter: blur(110px);
position:absolute;
left:-12%;
top:14%;
}
main h2 {
font-weight: bold;
font-size:5em;
letter-spacing:5px;
line-height: 1;
width: 752px;
height: 120px;
margin-top:2%;

}

main .content div {
  margin-top:2%;

}
main div p {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size:1.4em;
  width:80%;
  letter-spacing:2px;
  line-height:1.6;
}
 .content {
  display: flex;
  align-items: center; 
  margin-left: 3%;
  width:80%;

} 
.decription {
  padding-top:1%;
}
main .image-right {
  width:420px;
  height:420px;
position: relative;
top: 50px;

}

main input {
  width:24%;
  height:100px;
  border-radius:100px;
  background-color:#D9D9D9;
  color:black;
  font-size: 1.7em;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  transition:0.5s ease-in;
border: transparent;
margin-left:3%;
margin-top: 1%;
}

main input:hover {
  background-color:#ED8383;
 
  color:white;
}
