<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>benefit - Diabéte Intelligent -</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="../CSS/simulateur.css">

</head>

<body>
    <header>
        <nav>
        <ul>
          <li><img src="../../IMAGE/diabetes.png" alt="" id="logo"></li>
        <li><a href="Index.html">HOME</a></li>
        <li><a href="benefit.html">BENEFIT</a></li>
        <li><a href="">CONTACT</a></li>
        <li class="langue-principale"><a href=""><img src="../../IMAGE/square_13481941.png" alt="" id="drapeau"> EN </a>
             <ul class="sous-menu">
              <li><a href="Index.html"><img src="../../IMAGE/square_13481941.png" alt="" id="drapeau"> EN</a></li>
              <li><a href="Acceuil.html"><img src="../../IMAGE/square_16150100.png" alt="" id="drapeau"> FR</a></li>
             </ul>
        </li>
        </ul>
        </nav>
        </header>
<main>
    <p> BENEFIT ></p>
    <div class="effet-blur"></div>
    <div class="container">
        <div class="form-background">
            <form method="POST" action="{{ url_for('simulateur') }}">
                <h4>Your informations</h4>
                
                <div class="allignement">
                    <div>
                        <label for="age">AGE</label>
                        <input type="number" id="age" name="age" required>
                    </div>
                    <div>
                        <label for="bmi">BMI</label>
                        <input type="float" id="bmi" name="bmi" min="0" required>
                    </div>
                </div>
    
                <div class="allignement">
                    <div>
                        <label for="hypertension">HYPERTENSION</label>
                        <input type="number" id="hypertension" name="hypertension" min="0" max="1" required>
                    </div>
                    <div>
                        <label for="heart_disease">HEART DISEASE</label>
                        <input type="number" id="heart_disease" name="heart_disease" min="0" max="1" required>
                    </div>
                </div>
    
                <div class="allignement">
                    <div>
                        <label for="HbA1c_level">HbA1c LEVEL</label>
                        <input type="float" id="HbA1c_level" name="HbA1c_level" required>
                    </div>
                </div>
    
                <div class="allignement">
                    <div>
                        <label for="blood_glucose_level">GLYCEMIA LEVEL</label>
                        <input type="number" id="blood_glucose_level" name="blood_glucose_level" required>
                    </div>
                </div>
    
                <div class="last-row">
                    <div>
                        <label for="gender">SEX</label>
                        <select id="gender" name="gender" required>
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                        </select>
                    </div>
                    <div>
                        <label for="smoking_history">SMOKING HISTORY</label>
                        <select id="smoking_history" name="smoking_history" required>
                            <option value="No Info">No Info</option>
                            <option value="current">Current</option>
                            <option value="ever">Ever</option>
                            <option value="former">Former</option>
                            <option value="never">Never</option>
                            <option value="not current">Not Current</option>
                        </select>
                    </div>
                </div>
    
                <div class="submit-button">
                    <input type="submit" value="SIMULER">
                </div>
            </form>
        </div>
        <img src="../../IMAGE/glucose-meter_4228683.png" alt="" class="image-right">
    </div>

</main>


</body>


</html>