<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil - diabète Intelligent - </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">  
<link rel="stylesheet" href="../CSS/style.css">


</head>

  
<body>
  <header>
<nav>
<ul>
  <li><img src="../../IMAGE/diabetes.png" alt="" id="logo"></li>
<li><a href="Index.html">ACCEUIL</a></li>
<li><a href="simulateur.html">PRESTATION</a></li>
<li><a href="">CONTACT</a></li>
<li><img src="../../IMAGE/square_16150100.png" alt="" id="drapeau" >  FR</li>
</ul>
</nav>
</header>

<main>
<p> ACCEUIL ></p>
<div class="content">
  <div>
      <h2>
  DIABETE 
  INTELLIGENT  
</h2>

<p>
  Le diabète, souvent silencieux, peut entraîner des complications graves s’il n’est pas dépisté tôt.
   Notre plateforme vous aide à savoir si vous êtes à risque en quelques étapes simples. Prenez le contrôle de votre santé et faites un dépistage rapide pour agir avant 
  que les symptômes n’apparaissent.
</p> 
  </div>

<p><img src="../../IMAGE/blood-type_5548009.png" alt="" class="image-right"></p>
</div>
<input type="submit" value="COMMENCER !">
</main>

<footer>

</footer>
</body>
</html>