<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home - diabète Intelligent - </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">  
<link rel="stylesheet" href="../CSS/style.css">


</head>

  
<body>
    <header>
        <nav>
            <ul>
                <li><img src="../../IMAGE/diabetes.png" alt="" id="logo"></li>
                <li><a href="Index.html">HOME</a></li>
                <li><a href="benefit.html">BENEFIT</a></li>
                <li><a href="">CONTACT</a></li>
                <li class="langue-principale"><a href=""><img src="../../IMAGE/square_13481941.png" alt="" id="drapeau"> EN </a>
                    <ul class="sous-menu">
                        <li><a href="Index.html"><img src="../../IMAGE/square_13481941.png" alt="" id="drapeau"> EN</a></li>
                        <li><a href="Acceuil.html"><img src="../../IMAGE/square_16150100.png" alt="" id="drapeau"> FR</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

<main>
<div class="effet-blur"></div>
<p> HOME ></p>
<div class="content">
  <div>
    <h2>
        SMART
        DIABETE
    </h2>
<div class="decription">
     <p>
    Diabetes, often silent, can lead to serious complications if not detected early. Our platform helps you know if you are at risk in a few simple steps. Take control of your health and get tested quickly to take action before symptoms appear.
    </p> 
</div>

</div>

<p><img src="../../IMAGE/blood-type_5548009.png" alt="" class="image-right"></p>
</div>
<a href="benefit.html"><input type="submit" value="START !"></a>
</main>

<footer>

</footer>
</body>
</html>