<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulateur - Diabéte Intelligent -</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="../CSS/simulateur.css">
    
</head>

<body>
    <header>
        <nav>
        <ul>
          <li><img src="../../IMAGE/diabetes.png" alt="" id="logo"></li>
        <li><a href="Acceuil.html">ACCEUIL</a></li>
        <li><a href="simulateur.html">PRESTATION</a></li>
        <li><a href="">CONTACT</a></li>
        <li><img src="../../IMAGE/square_16150100.png" alt="" id="drapeau" >  FR</li>
        </ul>
        </nav>
        </header>
<main>
    <p> PREDICTION ></p>
    <div class="container">
        <div class="form-background">
       
<form>
<h4> Vos informations </h4>
<div class="allignement">
    
<div>
  <label for="pregnant">GROSSESSES</label>
<input type="text" id="pregnant">  
</div>
 <div>
    <label for="sexe">SEXE</label>
<input type="text" id="sexe">
 </div>
</div>

<div class="allignement">

    <div >
        <label for="glycemie">GLYCEMIE</label>
    <input type="text" id="glycemie">
    </div>
    <div>
    <label for="age">AGE</label>
    <input type="text" id="age">
    </div>
</div>
<div class="allignement">
    <div>
    <label for="tension">TENSION ARTIELLE</label>
    <input type="text" id="tension">
    </div>
</div>
<div class="allignement">
    <div>
    <label for="peau">EPAISSEUR DE LA PEAU</label>
    <input type="text" id="peau">
    </div></div>
<div class="allignement">
    <div>
  <label for="insuline">INSULINE</label>
    <input type="text" id="insuline">   
</div>
   <div>
      <label for="bmi">BMI</label>
      <input type="text" id="bmi"> 
</div>
</div>
<div class="allignement">
    <div>
<label for="ascendance">DIABETE ASCENDANCE FONCTION</label>
<input type="text" id="ascendance">
    </div></div>
    <div class="submit-button">
      <input type="submit" value="SIMULER">  
    </div>
</form>
</div>
 </div>
</main>


</body>




</html>