<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulateur - Diabéte Intelligent -</title>
</head>
<main>
<header>
    <h1> Diabète Intelligent </h1>
    <nav>
    <ul>
    <li><a href="Index.html">Acceuil</a></li>
     <li><a href="simulateur.html">Simulateur</a></li> 
    <li><a href="">Contact</a></li> 
    </ul>
    </nav>
</header>
<body>
    



</body>

<footer>


</footer>
</main>

</html>